<template>
  <div class="grid grid-cols-5 flex items-center justify-items-center">
    <component :is="partner.link !== null ? 'a': 'div'" v-for="(partner, k) in partners" :key="k" :href="partner.link"  :target="partner.link !== null ? '_blank': undefined">
      <img :src="partner.image" width="auto" height="100"/>
    </component>
  </div>
</template>
<script>
export default {
  data() {
    return {
      partners: [],
    }
  },
  async fetch() {
    this.partners = await this.$content('home/partners').fetch();
  },
}
</script>