<template>
  <div>
    <div class="grid grid-cols-4 text-center">
      <div v-for="(usp, k) in usps" :key="k">
        <img :src="usp.image" width="180" class="inline-block" alt="usp image"/>
      </div>
    </div>
    <div class="ice-usps grid grid-cols-4 text-center mt-16 mx-10 bg-blue-200 rounded-2xl py-16">
      <div v-for="(usp, k) in usps" :key="k">
        <div class="font-bold text-2xl">{{ usp.title }}</div>
        <p class="px-10 text-xl">{{ usp.body }}</p>
      </div>
    </div>    
  </div>    
</template>
<script>
export default {
  data() {
    return {
      usps: [],
    }
  },
  async fetch() {
    this.usps = await this.$content('home/usps').fetch();

  },
}
</script>