<template>
    <section class="banner text-white" role="banner" :class="{ blue, purple }">
        <div class="container mx-auto">
          <slot />
        </div>
        <template v-if="hasWaves">
          <svg class="wave-1" viewBox="0 0 1440 320" preserveAspectRatio="none">
            <path d="M0,288L40,282.7C80,277,160,267,240,240C320,213,400,171,480,170.7C560,171,640,213,720,229.3C800,245,880,235,960,208C1040,181,1120,139,1200,144C1280,149,1360,203,1400,229.3L1440,256L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" />
          </svg>
          <svg class="wave-2" viewBox="0 0 1440 320" preserveAspectRatio="none">
            <path d="M0,32L40,42.7C80,53,160,75,240,101.3C320,128,400,160,480,149.3C560,139,640,85,720,85.3C800,85,880,139,960,165.3C1040,192,1120,192,1200,160C1280,128,1360,64,1400,32L1440,0L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" />
          </svg>
          <svg class="wave-3" viewBox="0 0 1440 320" preserveAspectRatio="none">
            <path d="M0,128L40,117.3C80,107,160,85,240,106.7C320,128,400,192,480,234.7C560,277,640,299,720,288C800,277,880,235,960,192C1040,149,1120,107,1200,106.7C1280,107,1360,149,1400,170.7L1440,192L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" />
          </svg>
        </template>
    </section>
</template>
<script>
import IceButton from '~/components/Button';
import IceHeading from '~/components/Heading';
export default {
  props: {
    blue: {
      type: Boolean,
      default: false,
    },
    purple: {
      type: Boolean,
      default: false,
    },
    hasWaves: {
      type: Boolean,
      default: false,
    }
  },
  components: {
    IceButton,
    IceHeading
  }
}
</script>
<style scoped>
.container {
  position: relative;
  z-index: 1;
}
.banner {
  min-height: 700px;
  width: 100%;
  padding-top: 122px;
  padding-left: 79px;
  position: relative;
  overflow: hidden;
}
.blue {
  background: linear-gradient(180deg, #16b2da, #126caa);
}
.purple {
  background: linear-gradient(90deg, #260a42, #222c68);
}
.purple::before {
  content: '';
  display: block;
  background: #ffffff38;
  height: 100%;
  width: 100%;
  position: absolute;
  left: -66%;
  top: 0;
  transform: skewX(-45deg);
}
.heading {
  max-width: 760px;
}
.wave-3,
.wave-2,
.wave-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  z-index: 1;
  height: 200px;
  width: 150%;
  fill: #fff;
  pointer-events: none;
}
.wave-3 {
  opacity: 1;
  animation: move-left 60s linear infinite;
}
.wave-1 {
  animation: move-right 45s linear infinite;
}
.wave-2 {
  animation: move-left 30s linear infinite;
}
@keyframes move-left {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-33.333%);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes move-right {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(33.333%);

    }
    100% {
      transform: translateX(0);
    }
}

</style>