<template>
  <component
    :is="buttonComponent"
    :class="{
      uppercase,
      secondary,
      primary: !secondary,
      disabled,
      link: isLink,
    }"
    :disabled="disabled"
    :type="type"
    class="ice-button"
    v-on="$listeners"
  >
    <slot />
  </component>
</template>

<script>
export default {
  props: {
    disabled: {
      default: false,
      required: false,
      type: Boolean,
    },
    secondary: {
      default: false,
      required: false,
      type: Boolean,
    },
    uppercase: {
      default: true,
      required: false,
      type: Boolean,
    },
  },
  computed: {
    isLink() {
      return !!this.$attrs.href;
    },
    buttonComponent() {
      return this.isLink ? 'a' : 'button';
    },
    type() {
      return !this.isLink ? this.$attrs.type || 'button' : null;
    },
  },
};
</script>

<style scoped>
.ice-button {
    text-decoration: none;
    cursor: pointer;
    border: 0 none;
    box-shadow: none;
    background: transparent;
    outline: none;
    height: 54px;
    line-height: 54px;
    padding: 0 39px;
    border-radius: 30px;
    font-size: 21px;
    box-sizing: border-box;
    transition: all ease-in-out 0.25s;
    display: inline-block;
}
.primary {
  background: #16bfde;
  color: #fff;
  border: 1px solid #16bfde;
}
.primary:hover,
.secondary {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.secondary:hover {
  background: #fff;
  color: #16bfde;
  border-color: #fff;
}
.uppercase {
  text-transform: uppercase;
}
</style>
