<template>
  <div class="container mx-auto">
    <vue-slick-carousel v-bind="settings">
      <div class="slide">
        <img src="/home/slider/1.jpg" height="100%" width="auto"/>
      </div>
      <div class="slide">
        <img src="/home/slider/2.jpg" height="100%" width="auto" />
      </div>
    </vue-slick-carousel>
  </div>
</template>
<script>
import VueSlickCarousel from 'vue-slick-carousel';
import 'vue-slick-carousel/dist/vue-slick-carousel.css'

import IceBanner from './Banner';
export default {
  props: {
    blue: {
      type: Boolean,
      default: false,
    },
    purple: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      settings: {
        "dots": true,
        "fade": true,
        "infinite": false,
        "speed": 500,
        "slidesToShow": 1,
        "slidesToScroll": 1,
      }
    }
  },
  components: {
    VueSlickCarousel,
    IceBanner,
  },
};
</script>
<style scoped>
.slide {
  height: 380px;
}
</style>