<template>
  <footer>
    <div class="container mx-auto mt-24 font-light text-lg">
      <ice-grid :cols="4" :gap="24" class="grid">
        <p>
          <strong class="text-4xl">0621104232</strong><br />
          I.C.E. IT Solutions<br />
          Hurksestraat 19 H2.35<br />
          5652 AH Eindhoven<br />
          info@icesol.nl<br />
        </p>
        <p>
          <strong>Managed Cloud Solutions</strong><br />
          <nuxt-link to="cloud/public-cloud">Public Cloud</nuxt-link><br />
          <nuxt-link to="cloud/private-cloud">Private Cloud</nuxt-link><br />
          <nuxt-link to="cloud/hybride-cloud">Hybrid Cloud</nuxt-link><br />
          <nuxt-link to="cloud/k8s">Kubernetes</nuxt-link><br />
          <nuxt-link to="cloud/data-management">Data management</nuxt-link><br />
        </p>
        <p>
          <strong>Hosting</strong><br />
          <nuxt-link to="hosting/cloudservices">Cloudservices</nuxt-link><br />
          <nuxt-link to="hosting/iaas">IaaS</nuxt-link><br />
          <nuxt-link to="hosting/paas">PaaS</nuxt-link><br />
          <nuxt-link to="hosting/sas">SaaS</nuxt-link><br />
        </p>
        <p>
          <strong>Services</strong><br />
          <nuxt-link to="solutions/security">Security</nuxt-link><br />
          <nuxt-link to="solutions/ai">AI</nuxt-link><br />
          <nuxt-link to="solutions/software-op-maat">Software op maat</nuxt-link><br />
          <nuxt-link to="solutions/consultancy">Consultancy</nuxt-link><br />
        </p>
      </ice-grid>
      <ice-hr class="my-10" />
      <p class="mb-10">Copyright© 2021 ICE IT SOLUTIONS&nbsp;&nbsp;&nbsp;All right reserved</p>
    </div>
  </footer>
</template>
<script>
import IceGrid from '~/components/Grid';
import IceHr from '~/components/Hr';
export default {
  components: {
    IceGrid,
    IceHr,
  }
}
</script>
<style scoped>
.grid p {
  border-left: 1px solid #ddd;
  padding: 30px;
  color: #555;
  line-height: 1.9;
}
.grid p:first-child {
  border-left: none 0;
  padding-left: 0;
}
</style>