<template>
  <div class="grid" :class="classes">
    <slot />
  </div>
</template>
<script>
export default {
  props: {
    cols: {
      type: Number,
      default: 1,
    },
    gap: {
      type: Number,
      default: 1
    }
  },
  computed: {
    classes() {
      return [
        `grid-cols-${this.cols}`,
        `gap-${this.gap}`,
      ]
    }
  }
}
</script>