<template>
  <component
    :is="type"
    class="ice-heading"
    :class="{
      [style]: true,
    }"
  >
    <!-- @slot Default slot that should be used to provide your heading content. -->
    <slot />
  </component>
</template>

<script>
export default {
  name: 'JumHeading',
  props: {
    h1: {
      type: Boolean,
      default: false,
    },
    h2: {
      type: Boolean,
      default: false,
    },
    h3: {
      type: Boolean,
      default: true,
    },
    h4: {
      type: Boolean,
      default: false,
    },
    h5: {
      type: Boolean,
      default: false,
    },
    h6: {
      type: Boolean,
      default: false,
    },
    styled: {
      type: [String, null],
      validator: value => ['h1', 'h2', 'h3', 'h4', 'h5', 'h6'].includes(value),
      default: null,
    },
  },
  computed: {
    type() {
      if (this.h1) return 'h1';
      if (this.h2) return 'h2';
      if (this.h4) return 'h4';
      if (this.h5) return 'h5';
      if (this.h6) return 'h6';

      return 'h3';
    },
    style() {
      return this.styled || this.type;
    },
  },
};
</script>

<style scoped>
h1,
.h1 {
  font-size: 59px;
  font-weight: bold;
  line-height: 1.2;
}
h2,
.h2 {
  font-size: 54px;
  font-weight: bold;
  line-height: 1.2;
}
</style>