<template>
    <header class="header container mx-auto">
        <nuxt-link to="/" class="logo">
            <img src="/logo.svg" />
        </nuxt-link>
        <ice-navigation />
        <aside class="quick-links">
            
        </aside>
    </header>
</template>
<script>
import IceNavigation from './Navigation';
export default {
    components: {
        IceNavigation
    }
}
</script>
<style scoped>
.header {
    position: relative;
    height: 192px;
}
.logo {
    position: absolute;
    left: 30px;
    top: 25px;
    height: auto;
    width: 236px;
}
</style>