<template>
  <nav class="mainmenu">
    <ul class="root">
        <li class="root-item" v-for="item in items" :key="item.path">
            <nuxt-link :to="item.path">{{ item.name }}</nuxt-link>
            <ul class="submenu" v-if="item.children">
                <li v-for="child in item.children" :key="child.path">
                    <nuxt-link :to="child.path">{{ child.name }}</nuxt-link>
                </li>
            </ul>
        </li>
    </ul>
  </nav>
</template>
<script>
const menu = [
  {
    path: '/',
    name: 'Home',
  },
  {
    path: '/solutions',
    name: 'Cloud solutions',
    children: [
      {
        path: '/solutions/cloud-solutions',
        name: 'Cloud Solutions',
      },
      {
        path: '/solutions/cloudservices',
        name: 'Cloudservices',
      },
      {
        path: '/solutions/consultancy',
        name: 'Consultancy',
      },
      {
        path: '/solutions/software-op-maat',
        name: 'Software op maat',
      },
      {
        path: '/solutions/trainingen-seminars',
        name: 'Trainingen Seminars',
      },
    ],
  },
  {
    path: '/software-op-maat',
    name: 'Software op maat',
  },
  {
    path: '/over-ons',
    name: 'Over ons',
  },
  {
    path: '/contact',
    name: 'Contact',
  },
];

export default {
  data() {
    return {
      items: menu
    }
  }
}
</script>
<style  scoped>
.mainmenu {
    position: absolute;
    top: 69px;
    left: 420px;
    font-size: 20px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.root {
  height: 80px;
  position: relative;
}

.root-item {
  margin: 0 16px;
  line-height: 80px;
  text-transform: uppercase;
}

li {
  padding: 0;
  display: inline-block;
}
a {
  text-decoration: none;
  color: #111;
  font-weight: 600;
  position: relative;
}
.submenu {
  position: absolute;
  z-index: 2;
  margin-left: -24px;
  width: 300px;
  padding-top: 24px;
  display: none;
}
.submenu::before {
  content: '';
  display: block;
  position: absolute;
  height: 30px;
  width: 30px;
  transform: rotate(45deg);
  background: #fff;
  top: 9px;
  transform-origin: center;
  left: 28px;
}

.submenu li {
  background: #fff;
  padding: 2px 24px;
  display: block;
}
.submenu li a {
  display: inline-block;
  line-height: 1.6;
  position: relative;
}
.submenu li:first-child {
  padding-top: 24px;
}
.submenu li:last-child {
  padding-bottom: 24px;
}

a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -8px;
  height: 3px;
  background: #4098C7;
  width: 0;
  transition: all 0.3s ease-in-out;
  left: 50%;
  transform: translateX(-50%);
}

.submenu a:after {
  bottom: -2px;
}

li:hover > a:after {
  width: 100%;
}

li:hover .submenu {
  display: block;
}
</style>