<template>
  <div>
    <ice-header />
    <Nuxt />
    <ice-footer />
  </div>
</template>
<script>
import IceHeader from '~/components/Header';
import IceFooter from '~/components/Footer';
export default {
  components: {
    IceHeader,
    IceFooter,
  }
}
</script>