<template>
  <div>
    <ice-banner v-if="banner" blue has-waves>
      <ice-heading h1 class="heading text-white">{{ banner.heading }}</ice-heading>
      <p class="leading-7 max-w-4xl my-6 text-2xl text-white">{{ banner.description }}</p>
      <nuxt-link v-for="(cta, k) in banner.cta" :key="k" v-slot="{ href, navigate }" :to="cta.to"  custom>
        <ice-button :secondary="cta.secondary" class="mr-12" @click="navigate" :href="href">{{ cta.text }}</ice-button>
      </nuxt-link>
      <img v-if="banner.image" :src="banner.image" class="right-0 top-0 absolute mr-12"/>
    </ice-banner>
    <main class="container mx-auto">
      <div class="mt-24">
        <nuxt-content :document="page" />
      </div>
    </main>
  </div>
</template>
<script>
import IceBanner from '~/components/Banner';
import IceHeading from '~/components/Heading';
import IceButton from '~/components/Button';
export default {
  components: {
    IceBanner,
    IceHeading,
    IceButton,
  },
  data() {
    return {
      banner: null,
      page: null,
    }
  },
  async asyncData({ $content, params }) {
    let banner;
    let page;
    try {
      banner = await $content('banners', params.id).fetch();
    } catch(e){}

    try {
      page = await $content('pages', params.id).fetch();
    } catch(e){
      page = await $content('pages/404').fetch();
    }
    return {
      page,
      banner,
    }
  },
}
</script>