<template>
  <div>
    <ice-banner blue has-waves>
      <ice-heading h1 class="heading text-white">Cloud engineering als fundament voor innovatie</ice-heading>
      <p class="leading-7 max-w-4xl my-6 text-2xl text-white">Een persoonlijke benadering heeft prioriteit als het gaat over beveiliging en opslag van uw persoonlijk of zakelijke bestanden.</p>
      <nuxt-link v-slot="{ href, navigate }" to="solutions/cloudservices" custom>
        <ice-button secondary class="mr-12" @click="navigate" :href="href">Cloud services</ice-button>
      </nuxt-link>
      <nuxt-link v-slot="{ href, navigate }" to="contact" custom>
        <ice-button class="mr-12" @click="navigate" :href="href">Gratis Consult</ice-button>
      </nuxt-link>
      <img src="/home/banner-1.svg" class="right-0 top-0 absolute mr-12"/>
    </ice-banner>
    <main class="container mx-auto">
      <div class="px-20 mt-24">
        <nuxt-content :document="intro" />
      </div>
    </main>
    <ice-divider />
    <ice-banner purple class="mt-24">
      <ice-heading h1 class="heading text-white">Software op maat</ice-heading>
      <p class="leading-7 max-w-4xl my-6 text-2xl text-white relative z-10">Een persoonlijke benadering heeft prioriteit als het gaat over beveiliging en opslag van uw persoonlijk of zakelijke bestanden.</p>
      <ice-button secondary class="mr-12">Meer informatie</ice-button>
      <img src="/home/banner-2.png" class="absolute top-0 right-0 mr-12 z-0" width="550" />
    </ice-banner>

    <section class="container mx-auto mt-24">
      <div class="grid grid-cols-2 gap-2">
        <div class="flex flex-wrap content-center">
          <img src="/cloud.png" alt="cloud" />
        </div>
        <div>
          <ice-heading h2 class="no-wrap">Managed Cloud Solutions</ice-heading>
          <p>Private Cloud is een cloudcomputing oplossing die uitsluitend door één bedrijf of één organisatie worden gebruikt. De Private Cloud omgeving staat over het algemeen in een datacenter of op locatie bij de organisatie zelf.</p>
          <p>Het onderhouden van Private Cloud vindt dan ook plaats op een Private Network omgeving. Private Cloud biedt daarnaast een hoge mate van beveiliging en privacy dankzij de jouw bedrijfsfirewalls, zodat gevoelige gegevens niet voor externe toegankelijk zijn. </p>
        </div>
      </div>
    </section>
    <ice-divider />
    <ice-horizontal-ruler />
    <section class="container mx-auto mt-32">
      <ice-usps />
    </section>
    <section class="container mx-auto mt-32">
      <ice-partners />
    </section>
    <ice-banner blue has-waves class="mt-24">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <img src="/phone.png" alt="phone" />
        </div>
        
        <div>
          <ice-heading h1 class="heading text-white">Software op maat</ice-heading>
          <p>SaaS (Software-as-a-Service) is een Cloud omgeving, beschikbaar als een “product” en is een shared Cloud service. Het SaaS model is breed beschikbaar voor verschillende Cloud gebruikers. </p>
          <ice-button secondary class="mt-12">Contact</ice-button>
        </div>
      </div>
    </ice-banner>
    <!-- <client-only>
      <ice-carousel blue />
    </client-only> -->
  </div>
</template>

<script>
import IceHeading from '~/components/Heading';
import IceBanner from '~/components/Banner';
import IceButton from '~/components/Button';
import IceDivider from '~/components/Divider';
import IceHorizontalRuler from "~/components/Hr";
import IceCarousel from "~/components/Carousel";
import IceUsps from '~/components/home/Usps';
import IcePartners from '~/components/home/Partners';
export default {
  components: {
    IceBanner,
    IceHeading,
    IceButton,
    IceDivider,
    IceHorizontalRuler,
    IceCarousel,
    IceUsps,
    IcePartners,
  },
  data() {
    return {
      intro: null,
    }
  },
  async fetch() {
    this.intro = await this.$content('home/intro').fetch();
  },
}
</script>

<style>
.pre-heading {
  padding-top: 35px;
  font-size: 34px;
  font-weight: 300;
}
.no-wrap {
  white-space: nowrap;
}
</style>
